header {
  width: 1440px;
  padding: 50px;
  background-image: url(images/bg_hero_desktop.svg);
  background-color: hsl(193, 100%, 96%);
  background-repeat: no-repeat;
  display: flex;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.headerLeft {
  display: flex;
  flex-direction: column;
}
.headerRight {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-left: 100px;
}
.buttonHeaderLeft {
  font-family: "Poppins", sans-serif;
  background-color: hsl(322, 100%, 66%);
  border-radius: 37px;
  padding: 20px 55px;
  width: fit-content;
  font-size: large;
  font-weight: bold;
  font-family: "Poppins", sans-serif;
  color: white;
  cursor: pointer;
}
.buttonHeaderRight {
  background-color: white;
  border-radius: 37px;
  padding: 10px 50px;
  width: fit-content;
  font-size: medium;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  color: hsl(192, 100%, 9%);
  cursor: pointer;
}
.buttonHeaderLeft:hover {
  box-shadow: inset 0 0 10px rgba(247, 48, 48, 0.977);
}
.imageHeader {
  width: 100%;
  padding-top: 50px;
}
.titreParagraphHeader {
  max-width: 443px;
  font-weight: BOLD;
  font-size: xx-large;
  padding-top: 150px;
}
.paragraphHeader {
  max-width: 630px;
  text-align: unset;
  padding-bottom: 10px;
}
