html {
  margin: 0px 0px;
}

.main2 {
  display: flex;
  align-items: center;
  border-radius: 15px;
  box-shadow: 0px 0px 15px rgb(227, 227, 227);
  gap: 20px;
  padding: 40px 0px;
}

.body2 {
  width: 80%;
  display: flex;
  justify-content: center;
}

.imgbody2 {
  width: 80%;
}

.textebody2 {
  width: 80%;
  padding: 0px 30px;
}

h2 {
  color: #00252e;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
}

p {
  font-size: 18px;
  color: #71808e;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
}

@media only screen and (max-width: 767px) {
  .main2 {
    flex-direction: column;
  }
  .titrebody2 {
    text-align: center;
  }
  p {
    text-align: center;
  }
}
